# Ignore all.
/*

# But not these files...
!.gitignore
!composer.lock
!composer.json
!.lando.yml

# ...and not these directories.
!/config/
!/config/sync/
!/web/

# Within web, ignore everything...
/web/*

# ...but not these directories.
!/web/modules/
!/web/themes/

# Within modules and themes, ignore everything...
/web/modules/*
/web/themes/*

# ...but not these specific subdirectories.
!/web/modules/custom/
!/web/themes/custom/
